<title>Last Week  EarthQuakes</title>
{% extends "base.html" %}

{% block content %}
<h1>Last Week Earthquakes Data</h1>
<p align ="right"> <a href="{% url 'Last7dMap' %}" class="btn btn-primary"> Last 7days EarthQuake Map</a></p>

<style>
  .flex-container {
    display: flex;
    user-select: none;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
  }
  
  th {
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: #1c2f6438;
  }
  
  </style>

<div class="flex-container">
  <div>
    <table>
    <tr>
      <th>Place</th>
    </tr>
    {% for earthquake in json_data %}
    <tr>
      <td>{{ earthquake.place }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>
  
  <div>
    <table>
    <tr>
      <th>Magnitude</th>
    </tr>
    {% for earthquake in json_data %}
    <tr>
      <td>{{ earthquake.magnitude|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>
  {% endblock  %}
